[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
